@use "../../assets/style/mixins/breakpoints.scss";
@use "../../assets/style/Colors.scss" as colors;

.team-section {
  padding: 4rem 104px;

  @include breakpoints.respond-to-extra-large {
    padding: 4rem 40px;
  }

  @include breakpoints.respond-to-medium {
    padding: 2rem 16px;
  }

  &__container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
  }

  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoints.respond-to-medium {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    height: 100%;
    text-align: center;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: none;
    padding: 0;
  }

  // &__photo-container {
  //   margin-bottom: 1.5rem;
  // }

  &__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid colors.$orange-color;
    transition: transform 0.3s ease;
  }

  &__name {
    margin: 0 0 0.5rem 0;
  }

  &__role {
    margin: 0 0 1rem 0;
  }

  &__bio {
    line-height: 1.6;
    flex-grow: 1;
    margin: 0;
  }
}
