@use "../../assets/style/mixins/breakpoints.scss";

.page-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 112px 104px;

  @include breakpoints.respond-to-extra-large {
    padding: 64px 40px;
  }

  @include breakpoints.respond-to-medium {
    padding: 48px 16px;
  }

  &__paragraph {
    margin: 0;
    font-size: 24px;
  }
}
