@use "../../assets/style/mixins/breakpoints.scss";

.content-sections {
  margin: 112px 104px;

  @include breakpoints.respond-to-extra-large {
    margin: 64px 40px;
  }

  @include breakpoints.respond-to-medium {
    margin: 48px 16px;
  }

  .content-part {
    display: flex;
    flex-direction: column;
    gap: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoints.respond-to-medium {
      gap: 40px;
    }
  }
}
