@use "../../assets/style/mixins/breakpoints.scss";
@use "../../assets/style/Colors.scss" as colors;

.badge-section {
  background-color: colors.$orange-color;
  padding: 4rem 104px;

  @include breakpoints.respond-to-extra-large {
    padding: 4rem 40px;
  }

  @include breakpoints.respond-to-medium {
    padding: 2rem 16px;
  }

  &__container {
    max-width: 1200px;
    margin: 0;

    &__grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);

      @include breakpoints.respond-to-extra-large {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoints.respond-to-medium {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 2rem 1.5rem;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &__image {
      margin-bottom: 1rem;
    }
  }

  &__card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: black;
  }
}
