@use "../../assets/style/mixins/breakpoints.scss";

.section-title {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  // text-align: center;

  // &--version-with-text-align {
  //   text-align: center;
  // }

  // @include breakpoints.respond-to-medium {
  //   text-align: start;
  // }

  &__title {
    &--version-with-white-color {
      color: white;
    }
  }

  &__paragraph {
    // margin: 0 0 32px 0;
    margin: 0;
    font-size: 24px;
  }
}

// .section-title {
//   text-align: start;
//   // margin: 0 0 2.5rem 0;

//   &--version-with-white-color {
//     color: white;
//   }

//   &--version-with-text-align {
//     text-align: center;
//   }
// }
