@use "../../assets/style/Colors.scss" as colors;
@import "./Fonts.scss";

:root {
  --font-gagalin: "Gagalin", sans-serif;
  --font-dreaming: "Dreaming Outloud", sans-serif;
  --font-lato: "Lato", sans-serif;
}

* {
  font-family: var(--font-lato);
  font-weight: 300;
}

h1,
h2 {
  font-family: var(--font-gagalin);
}

h2 {
  font-size: 56px;
}

h3 {
  font-family: var(--font-dreaming);
  font-size: 40px;
}

h2,
h3 {
  color: colors.$orange-color;
}
