@use "./mixins/breakpoints.scss";
@use "../../assets/style/Colors.scss" as colors;
@use "./Fonts.scss";

:root {
  --font-gagalin: "Gagalin", sans-serif;
  --font-dreaming: "Dreaming Outloud", sans-serif;
  --font-lato: "Lato", sans-serif;
}

body {
  margin: 0;
}

* {
  font-family: var(--font-lato);
  font-weight: 300;

  @include breakpoints.respond-to-medium {
    font-size: 14px;
  }
}

h1,
h2 {
  font-family: var(--font-gagalin);
}

h2,
h3 {
  color: colors.$orange-color;
}

h1 {
  font-size: 80px;
  margin: 0;

  // @include breakpoints.respond-to-extra-large {
  //   font-size: 64px;
  // }

  @include breakpoints.respond-to-medium {
    font-size: 48px;
  }
}

h2 {
  font-size: 56px;
  margin: 0 0 24px 0;

  @include breakpoints.respond-to-medium {
    // font-size: 40px;
    font-size: 32px;
  }
}

h3 {
  font-family: var(--font-dreaming);
  font-size: 48px;
  margin: 0 0 16px 0;

  @include breakpoints.respond-to-medium {
    // font-size: 32px;
    font-size: 24px;
  }
}
