@use "./mixins/breakpoints.scss";
@use "../../assets/style/Colors.scss" as colors;
@use "./Fonts.scss";

:root {
  --font-gagalin: "Gagalin", sans-serif;
  --font-dreaming: "Dreaming Outloud", sans-serif;
  --font-lato: "Lato", sans-serif;

  --font-light: 300;

  --font-regular: 400;

  --font-bold: 700;
}

body {
  margin: 0;
  font-weight: var(--font-regular);
}

* {
  font-family: var(--font-lato);
  // font-weight: 300;

  // @include breakpoints.respond-to-medium {
  //   font-size: 14px;
  // }
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 86%;
}

h1,
h2 {
  font-family: var(--font-gagalin);
}

// h2,
// h3 {
//   color: colors.$orange-color;
// }

h1 {
  font-size: 80px;

  // @include breakpoints.respond-to-extra-large {
  //   font-size: 64px;
  // }

  @include breakpoints.respond-to-medium {
    font-size: 48px;
  }
}

h2 {
  // font-size: 56px;
  font-size: 64px;

  @include breakpoints.respond-to-medium {
    font-size: 48px;
  }

  // @include breakpoints.respond-to-medium {
  //   // font-size: 40px;
  //   font-size: 32px;
  // }
}

h3 {
  font-family: var(--font-dreaming);
  font-size: 48px;

  @include breakpoints.respond-to-medium {
    // font-size: 32px;
    font-size: 24px;
  }
}
